<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <fieldset>
      <h3>Search for Users</h3>
      <form action="/search" method="post">
        Search: <input type="text" name="name"><br/><br/>
        <input type="Submit" name="button" value="Search"/>
        <input type="Submit" name="button" value="Cancel"/><br/>
        <table>
          {%for name in list%}
          {%if name.name != myuser.name%}
            <tr>
              <td><a href="/User?id={{name.key.id()}}">{{name.name}}</a></td><td>&nbsp&nbsp&nbsp&nbsp</td><td>Followers {{name.followers|length}}</td>
            </tr>
          {%endif%}
          {%endfor%}
        </table>


      </form>
    </fieldset>
  </body>
</html>
