<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{list}}<br/>
    {%for u in usr%}
    <p style="font-family: sans-serif; font-size: 15px; padding:5px">
    {%if myuser.name != u.get().name%}
    <a href="/User?id={{u.get().key.id()}}">{{u.get().name}}</a><br/>
    {%else%}
    {{u.get().name}}<br/>
    {%endif%}
    Following  {{u.get().follows|length}}<br/>
    Follower   {{u.get().followers|length}}
  </p>
    <br/>
    {%endfor%}
    <br>

  </body>
</html>
