<html>
	<head>
		<meta charset="utf-8"/>
		<title>User login/logout</title>
	</head>
	<body>
		<center>
			<h1>Hackable InstaGrame</h1>
		{% if user %}
		{{ welcome }} {{ myuser.name }} welcome to the application<br/>
		<p align="right"><a href='/adpost'><input type="button" Name="adp" value="add post"></a></p>
		<a href='/follow'><a href='/search'><input type="button" Name="search" value="search"></a>
		<!-- <br>{{allpost}}<br> -->
		<!-- <br>{{myuser.post}}<br>
		{%for p in allpost%}
		<div>
			{{p.cap}}  {{p.postby.get().name}}  {{p.time}}   {{p.key.id()}}
		<br/>
	</div>
		{%endfor%}<br/>
		<br/> -->
		<br/>
		{%set c=0%}
		{%for p in pic if c < 50 %}
		<div>
			<a href="/post?id={{p.key.id()}}"><img src={{rcpic[loop.index-1]}} style="height:300px;width: 300px"></a><br/>
			{{p.cap}}<br/>
			{%if p.comment%}Comments: <br/>{%endif%}
			{%for ck in p.comment%}
			{{ck.get().user.get().name}}-->{{ck.get().comment}}<br/>
			{%endfor%}
		<br/>
		</div>
		{%set c=c+1%}
		{%endfor%}
		{% else %}
		<p>Hello guest welcome to the application</p>
		{% endif %}
		<p align="right"><a href='{{ url }}'><input type="button" Name="login" value="{{ url_string }} "></a></p>
	</center>
	</body>
</html>
